In [3]:
import pandas as pd

In [7]:
series = pd.Series(["BMW", "AUDI", "Honda"])
colors = pd.Series(["Red", "Yellow", "Orange"])

In [8]:
series

0      BMW
1     AUDI
2    Honda
dtype: object

In [9]:
# Data frame is 2-d, and it far more common than series data
car_data = pd.DataFrame({"Car make": series, "Color": colors})

In [10]:
car_data

  Car make   Color
0      BMW     Red
1     AUDI  Yellow
2    Honda  Orange

In [ ]:
# import data