In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
%matplotlib inline

In [4]:
heart_dis = pd.read_csv("heart-disease.csv")

In [5]:
heart_dis

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
X = heart_dis.drop("target", axis = 1)

In [9]:
y = heart_dis["target"]

In [10]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [11]:
# to split the data into training and test sets

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2) # test data to be 20 % of the total data

In [14]:
X_train.shape, X_test.shape, y_test.shape, y_test.shape

((242, 13), (61, 13), (61,), (61,))

In [15]:
object1_data = pd.read_csv("001.csv")

In [25]:
X = object1_data[1000:100]

In [26]:
X

Empty DataFrame
Columns: [4, 6, 6.1, -1, -18, -13, -4, 4.1, 10, 14, 18, 18.1, 21, 29, 27, 28, 33, 27.1, 17, 14.1, 18.2, 6.2, 11, 7, 4.2, -6, -12, -19, -26, -29, -31, -39, -40, -42, -45, -45.1, -44, -40.1, -34, -30, -25, -24, -21, -17, -5, 6.3, 9, 16, 34, 32, 33.1, 27.2, 36, 36.1, 37, 42, 37.1, 37.2, 31, 27.3, 21.1, 15, 8, 1, -3, -7, -15, -21.1, -28, -31.1, -37, -44.1, -46, -49, -48, -43, -34.1, -36, -28.1, -25.1, -19.1, -12.1, -9, -10, 2, 14.2, 23, 28.1, 30, 30.1, 35, 35.1, 35.2, 36.2, 42.1, 42.2, 34.1, 28.2, 27.4, 21.2, ...]
Index: []

[0 rows x 16385 columns]

In [27]:
! ls

001.csv                    Untitled2.ipynb
ColorCompressing.ipynb     car-sales.csv
GoogleDemo1.ipynb          exported-car-sales.csv
IntroductionToPandas.ipynb heart-disease.csv
Scikit.ipynb               iris.csv
Untitled1.ipynb

In [28]:
! mkdir heart-disease-project

In [29]:
!  cd heart-disease-project

In [30]:
! ls

001.csv                    Untitled2.ipynb
ColorCompressing.ipynb     car-sales.csv
GoogleDemo1.ipynb          exported-car-sales.csv
IntroductionToPandas.ipynb heart-disease-project
Scikit.ipynb               heart-disease.csv
Untitled1.ipynb            iris.csv